*{
    margin: 0;
    padding: 0;    
}

a {
    text-decoration: none;
    color: #ffffff;    
}

.header {
    width: 1440px;
    height: 750px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.2%, #040404 92.26%),
    url(../images/header.png);
    background-size: 100%;
}

.header {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase; 
}

.header p {    
    position: absolute;
    left: 126px;
    top: 25px;
    width: 104px;
    height: 47px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;  
}
